CVMFS_REPOSITORIES={{ ansible_cvmfs_client_CVMFS_REPOSITORIES }}
CVMFS_CACHE_BASE={{ ansible_cvmfs_client_CVMFS_CACHE_BASE }}
CVMFS_QUOTA_LIMIT={{ ansible_cvmfs_client_CVMFS_QUOTA_LIMIT }}
CVMFS_HTTP_PROXY="{{ ansible_cvmfs_client_CVMFS_HTTP_PROXY }}"
